*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f4f4f4;
    width: 100%;
    margin: 0 auto;
}

/*Estrutura tela inicial*/
#container{
    margin: 0;
    padding: 0;
    height: 800px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #023E7D;
    color: #fff;
}


#button{
    width: 250px;
    height: 50px;
    background-color: #FFBC42;
    border: 1px solid orange;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#button a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 1px;
    padding: 10px 80px;
}

.centralizar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*Estrutura tela login*/




#logo{
    background: gray;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
}

header{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-weight: 700;
}

.caixa{
    background-color: #3A7CA5;
    color: #fff;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

iframe{
    width: 100%;
    height: 500px
}

/*Configurando footer*/
footer {
    display: flex;
    align-items: center;
    justify-content: center;

}

ul{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

#menu ul{
    background: #D9DCD6;
    margin-top: 10px;
    float: left;
    border-radius: 30px;
    box-shadow: 3px 3px 10px black;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;

}

#menu ul li{
    float: left;
}

#menu ul a{
    font-size: 1em;
    padding: 1em 2em ;
    line-height: 2.1em;
    text-decoration: none;
    color: #16425B;
}
